<section class="hero is-fullheight is-dark is-bold">
  <form #f="ngForm" (ngSubmit)="login(f)" class="hero-body" novalidate>
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <h1 class="title">
            Login
          </h1>
          <div class="box">
            <label class="label" for="email">Email</label>
            <p class="control">
              <input
                class="input"
                type="text"
                placeholder="jsmith@example.org"
                #email="ngModel"
                id="email"
                required
                name="email"
                ngModel
                email
              />
            </p>
            <p class="help is-danger"
               *ngIf="email.errors?.required && email.touched">
              Email is required
            </p>
            <p class="help is-danger"
               *ngIf="email.errors?.email && email.touched">
              A valid email should be provided
            </p>
            <label class="label">Password</label>
            <p class="control">
              <input
                class="input"
                type="password"
                name="password"
                placeholder="●●●●●●●"
                ngModel
                #password="ngModel"
                minlength="6"
                maxlength="15"
                required
                (ngModelChange)="onChange(f)"
              />
            </p>
            <p class="help is-danger"
               *ngIf="password.errors?.required && password.touched">
              Password is required
            </p>
            <p class="help is-danger"
               *ngIf="(password.errors?.minlength || password.errors?.maxlength )
                 && password.touched">
              Password length have to be between 6 and 15 characters
            </p>
            <hr/>
            <p class="control">
              <button
                class="button is-primary"
                [disabled]="f.invalid">
                Login
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
